@charset 'utf8';

@import "../config.scss";
@import "../icon.scss";

.content{
  overflow-x: hidden;
  overflow-y: scroll;
  .rank-box{
    width: toRem(328px);
    padding: $padding $padding 0.5rem $padding;
    box-sizing: border-box;
    background: #ffffff;
    border-radius: 0.3rem;
    margin: 3.5rem auto;
    .rank-title{
       width: toRem(250px);
       height: toRem(56px);
       background: center no-repeat url(/static/images/roomCard/rank_title_bg.png);
       background-size: 100%;
       margin: -2.5rem auto 0 auto;
       position: relative;
      text-align: center;
      .rank-num-room{
        position: absolute;
        bottom: 1.1rem;
        width: 100%;
        span{
          @include setfont(toRem(12px),#fff,1rem);
        }
        span:nth-of-type(1){
          margin-right: 1rem;
        }
      }
    }
    .rank-h1{
       height:toRem(52px);
       line-height: toRem(52px);
       position: relative;
       @include flex-pack-justify();
      span:nth-child(1){
        color: #999999;
      }
      .rank-host{
        position: relative;
        img{
          height: toRem(20px);
          width: toRem(20px);
          border-radius: 100%;
        }
        span{
          color: #333333;
          em{
            color: #ff2739;
          }
        }
      }
    }
    .rank-list{
      .rank-li{
        height: toRem(48px);
        @include flex-pack-justify();
        .rank-left{
          .ic-rank{
            width: toRem(18px);
            height: toRem(20px);
            background: no-repeat toRem(0px) 0 url(/static/images/roomCard/ic_rank_box.png);
            background-size: toRem(97px);
          }
          .rank-head-img{
            width: toRem(40px);
            height: toRem(40px);
            border-radius: 100%;
            margin: 0 0.5rem;
          }
          .rank-name{
            font-size: toRem(16px);
            max-width: 10rem;
            @include overEllipsis();
          }
        }
      }
    }
  }
}
.share-btn{
   height: toRem(59px);
   background: #302627;
  .to-share-btn{
     display: block;
     @include setBtn(toRem(328px),toRem(48px),toRem(19px),#fff,#ff2739);
     margin: toRem(5.5px) auto 0 auto;
  }
}
