
.pullUp{
  animation-name: pullUp;
  -webkit-animation-name: pullUp;

  animation-duration: 0.6s;
  -webkit-animation-duration: 0.6s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;

  transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
}

@keyframes pullUp {
  0% {
    transform: scaleY(0.1);
  }
  40% {
    transform: scaleY(1.02);
  }
  60% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.01);
  }
  100% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.01);
  }
  100% {
    transform: scaleY(1);
  }
}

@-webkit-keyframes pullUp {
  0% {
    -webkit-transform: scaleY(0.1);
  }
  40% {
    -webkit-transform: scaleY(1.02);
  }
  60% {
    -webkit-transform: scaleY(0.98);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(0.98);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(1);
  }
}

.overturn{
    -webkit-animation-name:overturn;
    animation-name:overturn;
    -webkit-animation-duration: 0.8s;
    animation-duration:0.8s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
    animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    display: block;
}
@-webkit-keyframes overturn{
    0%{-webkit-transform:rotateY(0deg);}
    20%{-webkit-transform:rotateY(180deg);}
    40%{-webkit-transform:rotateY(360deg);}
    60%{-webkit-transform:rotateY(0deg);}
    80%{-webkit-transform:rotateY(180deg);}
    100%{-webkit-transform:rotateY(360deg);}
}
@keyframes overturn{
    0%{transform:rotateY(0deg);}
    20%{transform:rotateY(180deg);}
    40%{transform:rotateY(360deg);}
    60%{transform:rotateY(0deg);}
    80%{transform:rotateY(180deg);}
    100%{transform:rotateY(360deg);}
}