@charset 'utf-8';

@import "base.scss";

$fontColor: '#333';
$bgColor: linear-gradient(to right,#ff8c00,#ff5100);
$bodyBg : #f5f2f0;
$border: solid 0.1rem #eee;


@function toRem($px){
    @return $px/14px * 1rem; 
}
@mixin flex($flex){
    -webkit-box-flex: $flex;
    -webkit-flex: $flex;
    flex: $flex;
}
