
.icon{
        
}

.ic-balance{
    width: 2.4rem;
    height: toRem(53px);
    background:  center no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAqCAMAAADyHTlpAAAAkFBMVEUAAAD/qgD/qgD/qgD/qgD/qgD/qgD/qgD/qgD/qgD/qgD/qgD/qgD/qgD/qgD/qgD/qgD/qgD/qgD/1AD/qgD/////zQD/2yP/3jT/9Lz/wAD/uAD/+dz/yQD/xgD/sgD//vb/8av/1gn//Or/2Bf/9cT/41b/53D/5mj/9sv/87b/7Iv/64T/3jz/7pr/4UsDbNfAAAAAE3RSTlMA++wwNu/Vz7avm46AJAkGP/M+fl915AAAAdhJREFUOMulVdl2gjAQTaigglQrDLKIIu77//9dJ1EzmSinD70vjuSe2XMjOMaT0TDwpPSC4WgyFt34Cr3Ugh9+dREH6RsGn8jfkdSHVbnIEHVZ6b8y+naZcV8dLBeJhVqz+zFn9jwiWsiW+NnrMeYPfiqTDyjx4MfixsonueSOld/YVKTyrDmDc/uv2iLy2cWNnv2UrzwP27tFaW+njTYW2LNHfwdYe6LRQDMj6gXg/LAqnIV2SuG3AIVh5gCwoxSU29A4TWYNwP4Vfg6wShLjNsRd8q2a9mBSOAOsN1Zl/lhM0XmCMClsrfAGOLWpGOGGoM1ToPA0tJEY0kQpBR4eUafpUARO+wuAY3I14SnZQOD4M7RZChcdngEXQUhGRRwAgMITVTJqfpwjNLVR1o1RWQIrcJCzBAJr/3YNZ85bixrwZrUzhQLLV78b3iw2gtmqUFhjv7Rx4SPQg+3OlfZlotelpj4xrDdsXURoZ5ArbAEO2mit+KFebXcIJ4CrO4C0Rxemg0oXhl9Dqi5ngmSuoYicFO7ronUvN0kG53IslWQwIcq6mV7M5K1DYGojb0w0q3fHFYkmk2KXnJVMil2BX5bPKaPCc4H/+9n452NET5wvpf/hifsFfURvz4aJRFwAAAAASUVORK5CYII=);
    background-size:60%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    left: 0.15rem;
}
.ic-back-fff{
    width: 3rem;
    height: toRem(55px);
    background:  center no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAcCAMAAACwLaQWAAAASFBMVEUAAAD////////////////////////////////////////////////////////////////////////////////////////////neHiwAAAAF3RSTlMA+fV4cElEYTz08apnBIBqW1A/paRZOOOTkosAAABiSURBVBjTldHZEoAgCAVQaaMy28v//9PCJxDL8T6eGZYBI7JaJwHBS0L/xjKYCKD9gYWgYtAE6EqgJhj2GPoIRgZzGm7zXaP76tl6vzzpW6gD5ggDbYIgTYd8qfwg5TqdeQAOFAtAwO5VMAAAAABJRU5ErkJggg==);
    background-size:26%;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    bottom: 0;
    left: 0;
}
